body{
    font-family: Arial, Helvetica, sans-serif;
    background: url(https://cdn.pixabay.com/photo/2017/04/05/04/44/background-2203989_1280.jpg);
}

.container{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #83c5be;
    border-radius: 5px;
}

.input{
    margin-bottom: 15px;
}

label{
    display:inline-block;
    font-weight: bold;
}

.output{
    margin-top: 20px;
    padding: 10px;
    background-color: #83c5be;
}

.user-image{
    max-width: 200px;
    max-height: 150px;
    float: right;
    margin-top: -125px;
}

button[type="enroll"], button[type="clear"]{
    background-color: #006d77;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

h1{
    text-align: center;
}

input[type="text"], input[type="email"], input[type="url"], input[type="file"], input[type="gender"] select {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #a6b6a7;
    border-radius: 5px;
}

.separation-border{
    width: 1.3px;
    height: auto;
}

@media screen and (max-width: 768px){
    hr.separation-border{
        height: 0;
    }
}